body {
    background-image: url("../images/background_image.png");
    
    /*background-color: darkcyan;*/
    background-color: red;
    
}

p, nav {
    color: purple;
    background-color: white;
    max-width: 700px;
}

#calendar {
    width: 575px;
    background-color: white;
    color: blue;
}

#addEvent {
    background-color: white;
    color: blue;
    max-width: 700px;
}
